@font-face {
    font-family: "LouizeFont";
    src: url(./font-folder/Louize.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(./font-folder/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    width: 100%;
    position: sticky;
    z-index: 1;
}

header div:nth-child(1)>img:nth-child(1) {
    width: 115px;
}

header .menu img {
    display: none;
}

#navigation[data-visible="false"] {
    display: flex;
    width: 65%;
    justify-content: space-between;
    font-family: "Inter-Regular";
    align-items: center;
}

.nav-ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    font-size: 18px;
}

.nav-ul li:nth-child(1)::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin-right: 5px;
}

.nav-ul li:nth-child(2)::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: yellow;
    display: inline-block;
    margin-right: 5px;
}

.nav-ul li:nth-child(3)::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: orange;
    display: inline-block;
    margin-right: 5px;
}

.nav-ul li:nth-child(4)::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
    margin-right: 5px;
}

.nav-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 4s linear;
}

nav button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    background: #FF5924;
    color: white;
    margin: 0px 10px;
}

/* Section - 1 */
.sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "LouizeFont";
}

.background-box {
    width: 65%;
    border-radius: 60%;
    background-color: white;
    height: 54em;
    position: absolute;
    top: -100px;
}

.background-box::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -173px;
    transform: translate(10px, 8px);
    background: linear-gradient(to right, #FCB75A, #FD9DA1);
    filter: blur(80px);
    border-radius: 50%;
}

.sec-1-first-container,
.sec-1-second-container {
    z-index: 1;
}

.sec-1-first-container h1 {
    font-size: 140px;
    line-height: 120px;
    font-weight: 100;
    letter-spacing: -9px;
}

.sec-1-first-container p {
    padding: 50px 27%;
    line-height: 42px;
    word-spacing: 8px;
    font-family: 'Inter-Regular';
    font-size: 18px;
}

.sec-1-first-container p span {
    padding: 4px 11px;
    border-radius: 40px;
}

.bubble.orange {
    background: linear-gradient(180deg, rgba(233, 143, 83, 0.06) 0%, rgba(233, 143, 83, 0) 100%);
    color: #E98F53;
    border: 1px solid #E98F53;
}

.bubble.pink {
    background: linear-gradient(180deg, rgba(228, 138, 191, 0.06) 0%, rgba(228, 138, 191, 0) 100%);
    color: #E48ABF;
    border: 1px solid #E48ABF;
}

.bubble.blue {
    background: linear-gradient(180deg, rgba(153, 210, 251, 0.06) 0%, rgba(153, 210, 251, 0) 100%);
    color: #99D2FB;
    border: 1px solid #99D2FB;
}

.bubble.red {
    background: linear-gradient(180deg, rgba(234, 114, 107, 0.06) 0%, rgba(234, 114, 107, 0) 100%);
    color: #EA726B;
    border: 1px solid #EA726B;
}

.bubble.yellow {
    background: linear-gradient(180deg, rgba(255, 207, 39, 0.06) 0%, rgba(255, 207, 39, 0) 100%);
    color: #FFCF27;
    border: 1px solid #FFCF27;
}

.sec-1-second-container video {
    width: 75%;
    border-radius: 25px;
}

/* Section - 2 */
.sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
}

.sec-2>h3 {
    font-size: 18px;
    font-family: 'Inter-Regular';
    letter-spacing: 2px;
    padding: 25px;
    font-weight: 100;
}

.sec-2-first-container>p {
    width: 53vw;
    text-align: left;
    font-size: 42px;
    line-height: 59px;
    font-family: "LouizeFont";
    color: #3A475A;
}

.sec-2-first-container>p>span:nth-child(1) {
    font-size: 84px;
    font-style: oblique;
}

.sec-4-para-span {
    font-size: 54px;
    font-weight: 700;
}

.sec-2-first-container>p>span:nth-child(2),
.sec-2-first-container>p>span:nth-child(3) {
    display: block;
    font-size: 44px;
    padding: 20px 0px;
}


.sec-2 .sec-2-second-container {
    margin-top: 124px;
    z-index: 1;
}

.sec-2-second-container ul {
    font-size: 52px;
    font-family: 'LouizeFont';
    list-style: none;
    display: grid;
    gap: 11px;
    color: #3A475A;
}

.sec-2-last-container {
    position: relative;
    top: -120px;
    padding-top: 17rem;
    padding-bottom: 14.111111rem;
    background-image: url(./img-folder/mymind_manifesto_neue-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 50% 92%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 61em;
}

.sec-2-last-container img {
    position: relative;
    top: 135px;
    filter: drop-shadow(0px 0px 60px #FF5924);
}

.sec-2-last-container button {
    padding: 14px 40px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 100;
    color: white;
    background-color: #FF5924;
    cursor: pointer;
    position: relative;
    top: 235px;
}

/* Section - 3*/
.sec-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.sec-3 div:nth-child(1) h1 {
    font-size: 96px;
    font-family: "LouizeFont";
    line-height: 96px;
    font-weight: 100;
    letter-spacing: -4.3px;
}

.sec-3 div:nth-child(1) p {
    padding: 40px 33%;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter-Regular';
}

.sec-3 div:nth-child(2) video {
    width: 59%;
    margin: 60px 0px;
}

.sec-3 div:nth-child(2) p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-size: 19px;
    font-family: 'LouizeFont';
    padding: 20px;
}

/* Section - 4 */
.sec-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 0px 0px 0px;
    margin: 30px 0px 0px 0px;
    background-color: #F6F4F2;
}

.sec-4 div:nth-child(1) h1 {
    font-size: 96px;
    font-family: "LouizeFont";
    line-height: 96px;
    font-weight: 100;
    letter-spacing: -4.3px;
}

.sec-4 div:nth-child(1) p {
    padding: 40px 33%;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter-Regular';
}

.sec-4 div:nth-child(2) video {
    width: 59%;
    margin: 80px 0px;
}

/* Section 5 */
.sec-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 0px 120px 0px;
    background-color: #FF5924;
}

.sec-5 div:nth-child(1) h1 {
    font-size: 96px;
    font-family: "LouizeFont";
    line-height: 96px;
    font-weight: 100;
    letter-spacing: -4.3px;
}

.sec-5 div:nth-child(1) p {
    padding: 40px 33%;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter-Regular';
    color: white;
}

.sec-5 div:nth-child(2) p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-size: 19px;
    font-family: 'LouizeFont';
    padding: 30px;
}

/* Section - 6 */
.sec-6 {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #FF5924 0%, #FFC0B4 20.88%, #FFFFFF 37.26%, #FFFFFF 85.07%, #FFF2F2 100%);
}

.sec-6>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0px 30px 0px;
    width: 98%;
    border-radius: 20px;
    background: white;
}

.sec-6 div:nth-child(1) h1 {
    font-size: 96px;
    font-family: "LouizeFont";
    line-height: 96px;
    font-weight: 100;
    letter-spacing: -4.3px;
}

.sec-6>div:nth-child(1) span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-size: 19px;
    font-family: 'LouizeFont';
    padding: 15px;
    color: #FF5924;
}

.sec-6>div>div:nth-child(2) {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 40px;
}

.sec-6>div>div:nth-child(2)>div:nth-child(1) {
    background-color: #DDE9D3;
    padding: 30px;
    width: 40%;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec-6>div>div:nth-child(2)>div:nth-child(1)>img {
    width: 440px;
}

.sec-6>div>div:nth-child(2)>div:nth-child(2) {
    background-color: #E5EBF2;
    padding: 30px;
    width: 55%;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sec-6>div>div:nth-child(2)>div:nth-child(2)>img {
    width: 565px;
}

.sec-6>div>div:nth-child(3) {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.sec-6>div>div:nth-child(3)>div:nth-child(1) {
    background-color: #F3F0E7;
    padding: 30px;
    text-align: left;
    width: 55%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sec-6>div>div:nth-child(3)>div:nth-child(1)>img {
    width: 515px;
}

.sec-6>div>div:nth-child(3)>div:nth-child(2) {
    background-color: #DBE6FB;
    padding: 30px;
    text-align: left;
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec-6>div>div:nth-child(3)>div:nth-child(2)>img {
    width: 440px;
}

.sec-6>div>div:nth-child(2)>div:nth-child(1) h2,
.sec-6>div>div:nth-child(2)>div:nth-child(2) h2,
.sec-6>div>div:nth-child(3)>div:nth-child(1) h2,
.sec-6>div>div:nth-child(3)>div:nth-child(2) h2 {
    font-size: 40px;
    line-height: 54px;
    font-family: 'Inter-Regular';
}

.sec-6>div>div:nth-child(2)>div:nth-child(1) p,
.sec-6>div>div:nth-child(2)>div:nth-child(2) p,
.sec-6>div>div:nth-child(3)>div:nth-child(1) p,
.sec-6>div>div:nth-child(3)>div:nth-child(2) p {
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter-Regular';
    padding: 30px 2px;
    width: 90%;
}

.sec-6-third-container {
    width: 94.5%;
    background-image: url(https://mymind.com/wp-content/uploads/2023/06/feature-text-recognition-desktop.webp);
    height: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 53em;
    padding: 40px 0px 107px 0px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 17px;
    box-shadow: 0px 0px 10px #dadada;
    margin: 30px 0px;
}

.sec-6-third-container>div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 16px 15px;
}

.sec-6-third-container>div:nth-child(1) div {
    border-top: 2px solid;
    color: #AFB5C1;
    margin: 10px;
    width: auto;
    display: flex;
    justify-content: baseline;
}

.sec-6-third-container>div:nth-child(1) div span {
    color: #AFB5C1;
    font-family: "Inter-Regular";
    font-weight: 500;
    font-size: 24px;
}

.sec-6-third-container>div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 40px;
}

.sec-6-third-container>div:nth-child(2) h2 {
    font-size: 40px;
    line-height: 54px;
    font-family: 'Inter-Regular';
}

.sec-6-third-container>div:nth-child(2) p {
    font-size: 18px;
    line-height: 28px;
    width: 41%;
    font-family: 'Inter-Regular';
    padding: 20px 0px;
}

/* Section - 7 */
.sec-7>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./img-folder/mymind_review_neue-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85em;
}

.sec-7 div>div:nth-child(1) {
    padding: 40px 0px;
}

.sec-7 img {
    width: 640px;
}

.sec-7 h1 {
    font-size: 96px;
    line-height: 84px;
    color: white;
    font-family: "LouizeFont";
    font-weight: 100;
}

.sec-7 img:nth-child(1) {
    display: block;
    position: relative;
    left: 21%;
    top: 10%;
}

.sec-7 div:nth-child(3) img:nth-child(2) {
    width: 700px;
    position: relative;
    top: -9%;
    left: -13%;
}

.sec-7 div:nth-child(4) span {
    font-size: 20px;
    font-family: 'Inter-Regular';
}

/* Section 8 */
.sec-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FFDCEE, #FFDCDC, #ffeaeb, #FFF1F1, #FFF1F1);
    box-shadow: 0px 0px 50px 40px #FFDDEE;
    padding: 10em 0px;
}

.sec-8>div {
    text-align: center;
    padding: 40px;
    display: grid;
    gap: 40px;
}

.sec-8 .sec-8-main-container {
    width: 90%;
    background-color: #FF5925;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 50em;
    position: relative;
    border-radius: 20px;
}

.sec-8 ul {
    display: flex;
    font-family: "Inter-Regular";
    gap: 41px;
    font-size: 24px;
    padding: 15px;
    list-style: none;
}

.sec-8>div:nth-child(1)>span {
    font-size: 20px;
    color: #FF5924;
    font-family: "Inter-Regular";
}

.sec-8 h1 {
    font-size: 80px;
    line-height: 70px;
    font-family: "LouizeFont";
    font-weight: 100;
}

.sec-8-main-container>div>div:nth-child(1) {
    position: relative;
    z-index: 1;
}

.sec-8-main-container span {
    font-size: 20px;
    color: #ffffff;
    font-family: "Inter-Regular";
}

.sec-8-main-container h2 {
    font-size: 80px;
    line-height: 73px;
    font-family: 'LouizeFont';
    padding: 68px 8%;
    color: white;
    letter-spacing: -3px;
    font-weight: 100;
}

.sec-8-main-container img {
    width: 75em;
    position: absolute;
    left: 70px;
    top: 75px;
}

/* Section  9 */
.sec-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFF1F1;
    background-image: url(./img-folder/Closing_statement_bg_new.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 30px;
    text-align: center;
}

.sec-9 img {
    width: 60px;
    position: relative;
    top: -45px;
}

.sec-9 p,
.sec-9 span {
    font-size: 54px;
    line-height: 60px;
    width: 16em;
    font-family: 'LouizeFont';
    padding: 55px 0px;
}

.sec-9 button {
    padding: 10px 25px;
    background-color: #FF5925;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    margin: 10px;
}

.sec-10 {
    display: flex;
    justify-content: center;
    padding: 10em 0px 4em 0px;
    background-color: #FFF1F1;
}

.sec-10>div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.sec-10 div img {
    width: 400px;
    border-radius: 20px;
}

.sec-10 div h3,
.sec-10 div span {
    padding: 15px 0px;
}

.sec-10 div h3 {
    font-size: 24px;
    font-family: "LouizeFont";
}

.sec-10 div span {
    font-size: 18px;
    font-family: "Inter-Regular";
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 80px 30px 0px 30px;
    background-image: url("./img-folder/mymind_footer_bg_full.png");
    background-position: bottom;
    background-size: cover;
}

.footer>div {
    display: flex;
    height: 37em;
    justify-content: space-between;
    flex-direction: column;
    width: 95%;
    background-color: #ffffff;
    padding: 30px 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer .footer-first-conatiner {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.footer .footer-first-conatiner-first-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
}

.footer .footer-first-conatiner-frist-div img {
    width: 350px;
}

.footer .footer-first-conatiner-first-div ul {
    list-style: none;
    display: grid;
    gap: 20px;
    font-size: 22px;
    font-family: 'Inter-Regular';
    letter-spacing: -1px;
}

.footer .footer-first-conatiner-second-div {
    display: flex;
    flex-direction: column;
    gap: 37px;
    align-items: center;
    width: 55%;
    justify-content: space-around;
}

.footer .footer-first-conatiner-second-div div:nth-child(1) {
    width: 90%;
    background: #dadada;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.footer .footer-first-conatiner-second-div div:nth-child(1) h3 {
    font-size: 40px;
    font-family: 'LouizeFont';
}

.footer .footer-first-conatiner-second-div div:nth-child(1) span {
    font-size: 19px;
    font-family: 'Inter-Regular';
}

.footer .footer-first-conatiner-second-div ul {
    padding: 4px 0px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 17px;
    font-family: 'Inter-Regular';
}

.footer .footer-first-conatiner-second-div>div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    width: 95%;
    gap: 0px;
}

.footer-second-conatiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-second-conatiner {
    border-top: 1px solid #D5DAE0;
    padding: 40px 5px;
}

.footer-second-conatiner div:nth-child(1) {
    width: 52%;
    display: flex;
    font-family: 'Inter-Regular';
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}

.footer-second-conatiner div:nth-child(2) ul {
    display: flex;
    justify-content: center;
    gap: 4px;
    list-style: none;
    font-size: 15px;
    font-family: 'Inter-Regular';
}

/* Mobile */
@media (max-width: 767px) {
    .header {
        z-index: 2;
        padding: 26px 25px;
    }

    header div:nth-child(1)>img:nth-child(1) {
        width: 160px;
    }

    header>div:nth-child(2) {
        background-color: black;
        padding: 10px;
        z-index: 3;
        border-radius: 10px;
    }

    header .menu img {
        display: block;
        width: 35px;
    }

    #navigation {
        position: absolute;
        flex-direction: column;
        height: 0vh;
        top: 0px;
        left: 0px;
        width: 100%;
        overflow: hidden;
        align-items: baseline;
        padding: 0px 45px;
        transition: .4s ease-in-out;
        background-image: url(./img-folder/mymind_footer_bg_full.png);
        justify-content: space-evenly;
        display: flex;
        opacity: 0;
        background-position: 100% 47%;
        background-color: white;
        background-repeat: no-repeat;
    }

    #navigation[data-visible="true"] {
        transform: translate(0%, 0%);
        height: 100vh;
        opacity: 1;
    }

    .nav-ul {
        display: flex;
        gap: 30px;
        list-style: none;
        align-items: center;
        font-size: 50px;
        flex-direction: column;
        align-items: baseline;
        font-family: 'LouizeFont';
    }

    .nav-ul li:nth-child(1)::before,
    .nav-ul li:nth-child(2)::before,
    .nav-ul li:nth-child(3)::before,
    .nav-ul li:nth-child(4)::before {
        content: "";
        width: 15px;
        height: 15px;
    }

    nav button {
        padding: 11px 34px;
        font-size: 30px;
    }

    nav span {
        font-size: 30px;
        font-family: "Inter-Regular";
    }

    .sec-1 {
        padding-top: 95px;
    }

    .background-box {
            width: 90vw;
            height: 24em;
            top: 81px;
    }
    .background-box::before{
        content: "";
    position: absolute;
    z-index: -85px;
    inset: 0px;
    transform: translate(10px, 8px);
    background: linear-gradient(to right, #FCB75A, #FD9DA1);
    filter: blur(80px);
    border-radius: 50%;
    }

    .sec-1-first-container h1 {
        font-size: 50px;
        letter-spacing: 0px;
        line-height: 50px;
        padding: 0px 27px;
    }

    .sec-1-first-container p {
        padding: 50px 11%;
        line-height: 42px;
        font-size: 15px;
    }

    .sec-2 {
        padding: 0px 22px;
    }

    .sec-2-first-container>p {
        width: 88vw;
        font-size: 25px;
        line-height: 39px;
    }

    .sec-2-first-container>p>span:nth-child(2),
    .sec-2-first-container>p>span:nth-child(3) {
        font-size: 25px;
        padding: 27px 0px;
    }

    .sec-4-para-span {
        font-size: 30px;
    }

    .sec-2-second-container ul {
        font-size: 31px;
    }

    .sec-2-last-container {
        top: -190px;
        width: 100vw;
        height: 61em;
    }

    .sec-2-last-container img {
        position: relative;
        top: 227px;
        filter: drop-shadow(0px 0px 16px #FF5924);
        width: 86%;
    }

    .sec-2-last-container button {
        top: 320px;
    }

    .sec-3 div:nth-child(1) h1,
    .sec-4 div:nth-child(1) h1,
    .sec-6 div:nth-child(1) h1 {
        font-size: 33px;
        line-height: 40px;
        letter-spacing: 0px;
        padding: 0px 10%;
    }

    .sec-3 div:nth-child(1) p,
    .sec-4 div:nth-child(1) p {
        padding: 40px 5%;
        font-size: 19px;
    }

    .sec-3 div:nth-child(2) video,
    .sec-4 div:nth-child(2) video,
    .sec-5 div video {
        width: 70%;
    }

    .sec-3 div:nth-child(1) p:nth-child(2) {
        padding: 40px 1%;
        font-size: 15px;
    }

    .sec-5 div p:nth-child(2) {
        padding: 40px 23%;
        font-size: 19px;
    }

    .sec-5 div:nth-child(1) h1 {
        font-size: 32px;
        font-family: "LouizeFont";
        line-height: 42px;
        font-weight: 100;
        letter-spacing: 0px;
        padding: 0px 15%;
    }

    .sec-5 div:nth-child(1) p {
        padding: 40px 14%;
        font-size: 19px;
    }

    .sec-6>div {
        width: 95%;
    }

    .sec-6>div>div:nth-child(2),
    .sec-6>div>div:nth-child(3) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sec-6>div>div:nth-child(2)>div:nth-child(1),
    .sec-6>div>div:nth-child(2)>div:nth-child(2) {
        width: 100%;
        margin: 15px 0px;
    }

    .sec-6>div>div:nth-child(2)>div:nth-child(2) img,
    .sec-6>div>div:nth-child(2)>div:nth-child(1)>img {
        width: 100%;
        margin: 40px 0px;
    }

    .sec-6>div>div:nth-child(2)>div:nth-child(1) h2,
    .sec-6>div>div:nth-child(2)>div:nth-child(2) h2,
    .sec-6>div>div:nth-child(3)>div:nth-child(1) h2,
    .sec-6>div>div:nth-child(3)>div:nth-child(2) h2 {
        font-size: 32px;
        line-height: 40px;
        font-family: 'Inter-Regular';
    }

    .sec-6>div>div:nth-child(3)>div:nth-child(1)>img,
    .sec-6>div>div:nth-child(3)>div:nth-child(2)>img {
        width: 100%;
        margin: 15px 0px;
    }

    .sec-6>div>div:nth-child(3)>div:nth-child(1),
    .sec-6>div>div:nth-child(3)>div:nth-child(2) {
        width: 100%;
        margin: 15px 0px;
    }

    .sec-6-third-container>div:nth-child(1) div span {
        display: none;
    }

    .sec-6-third-container>div:nth-child(2) p {
        width: 100%;
        font-size: 17px;
    }

    .sec-6-third-container {
        background-size: cover;
        background-position: 74% 2%;
        border-radius: 15px;
        color: white;
        height: 50em;
        text-shadow: 0px 0px 20px black;
    }

    .sec-7 img {
        width: 85%;
    }

    .sec-7 img:nth-child(1) {
        left: 8%;
        top: 3%;
    }

    .sec-7 h1 {
        font-size: 35px;
        line-height: 47px;
    }
    .sec-7 div:nth-child(3) img:nth-child(2) {
        width: 100%;
        top: -5%;
        left: -6%;
    }
    .sec-7>div {
    height: 60em;
    }
    .sec-8 h1 {
        padding: 0px 7%;
        font-size: 48px;
        letter-spacing: -2px;
    }
    .sec-8 ul{
        display: none;
    }
    .sec-8 .sec-8-main-container {
    height: 32em;
    }
    .sec-8-main-container h2 {
        font-size: 30px;
        line-height: 45px;
        padding: 30px 0%;
        letter-spacing: 0px;
    }
    .sec-8-main-container img {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 60px;
        top: unset;
    }
    .sec-9 img {
        width: 50px;
    }
    .sec-9 p, .sec-9 span {
        font-size: 20px;
        line-height: 40px;
        width: 16em;
        font-family: 'LouizeFont';
        padding: 55px 10px;
    }
    .sec-10>div {
        flex-direction: column;
        align-items: center;
    }
    .sec-10 > div > div{
        margin: 30px 0px;
    }
    .sec-10 div img {
        width: 100%;
    }

    .footer{
        padding: 70px 20px 0px 20px;
    }
    .footer>div {
    display: flex;
    height: 80em;
    width: 100%;
    padding: 0px 20px;
}
.footer .footer-first-conatiner{
    flex-direction: column;
}
.footer .footer-first-conatiner-first-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.footer .footer-first-conatiner-first-div img{
    width: 100%;
    padding: 20px 0px;
}
.footer .footer-first-conatiner-second-div {
width: 100%;
flex-direction: column-reverse;
}
.footer .footer-first-conatiner-second-div>div:nth-child(2) {
    gap: 36px;
    flex-direction: column;
}
.footer .footer-first-conatiner-second-div div:nth-child(1) {
    width: 95%;
    padding: 10px;
}
.footer .footer-first-conatiner-second-div div:nth-child(1) h3 {
    font-size: 30px;
    padding: 6px;
}
.footer-second-conatiner {
    color: grey;
    flex-direction: column;
    gap: 43px;
}
.footer-second-conatiner div:nth-child(1) {
    width: 95%;
    justify-content: space-between;
    gap: 29px;
    flex-direction: column;
    align-items: baseline;
}
}